html,
body {
  height: 100%;
}

.container{
    position: absolute;
    top: 63%;
    left: 53%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.error{
  margin: 0 auto;
}

.dark-theme body{
  margin: 0;
  background: black;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
}

.light body{
  margin: 0;
  background: white;
  font-family: sans-serif;
  font-weight: 100;
  color: black;
}


.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.theme-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  top: 100px;
  background: #6a59d1;
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.dark-theme .theme-moon{
  position: absolute;
  visibility: hidden;
  left: 20px;
}

.light .theme-sun{
  position: absolute;
  visibility: hidden;
  left: 20px;
}

.light .input_search{
  position: absolute;
  width: 600px;
  height: 25px;
  background: #6a59d1;
  border-radius: 7px;
  top: 30px;
  max-height: 600px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white
}

 .dark-theme ::-webkit-input-placeholder{
  color: #6a59d1;
}

.light ::-webkit-input-placeholder{
  color: white;
}

.dark-theme .input_search{
  position: absolute;
  width: 600px;
  height: 25px;
  background: white;
  border-radius: 7px;
  top: 30px;
  max-height: 600px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #6a59d1;
}

.dark-theme .btn_search{
  position: absolute;
  width: 100px;
  height: 25px;
  background: #6a59d1;
  border-radius: 7px;
  top: 30px;
  max-height: 600px;
  left: 74%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
}

.light .btn_search{
  position: absolute;
  width: 100px;
  height: 25px;
  background: white;
  border-radius: 7px;
  top: 30px;
  max-height: 600px;
  left: 74%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.grid_books{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 258px);
  margin: 0 auto;
}

.img_books{
  width: 150px;
  height: 250px;
  text-align: center;
}

.dark-theme ::-webkit-scrollbar {
  width: 10px;
  background: -webkit-linear-gradient(45deg, #141414, #171617);
  
}

.dark-theme ::-webkit-scrollbar-thumb {
  background: #6a59d1;
  border-radius: 2em;
}

.light ::-webkit-scrollbar {
  width: 10px;
  background: -webkit-linear-gradient(45deg, #f3eaea, #d7d7d9);
  
}

.light ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 2em;
}

.light .btn_load_more{
  position: relative;
  left: 49%;
  top: 25px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #6a59d1;
  color: white;
}

.dark-theme .btn_load_more{
  position: relative;
  left: 49%;
  top: 25px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  background-color: white;
  color: #6a59d1;
}

.loader {
  width: 58px;
  height: 58px;
  margin: auto;
  position: relative;
  left: 0;
  
}
.dark-theme .loader:before {
    content: '';
    width: 58px;
    height: 5px;
    background: #6a59d1;
    opacity: 0.65;
    position: absolute;
    top: 70px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  .dark-theme .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background:  white;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }

  .light .loader:before {
    content: '';
    width: 58px;
    height: 5px;
    background: #000000;
    opacity: 0.65;
    position: absolute;
    top: 70px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  .light .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #6a59d1;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }

@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

.dark-theme .select_search{
  position: absolute;
  width: 150px;
  height: 25px;
  background: #6a59d1;
  border-radius: 7px;
  top: 70px;
  max-height: 600px;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.light .select_search{
  position: absolute;
  width: 150px;
  height: 25px;
  background: white;
  border-radius: 7px;
  top: 70px;
  max-height: 600px;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #6a59d1;
}


.dark-theme .select_filter{
  position: absolute;
  width: 150px;
  height: 25px;
  background: #6a59d1;
  border-radius: 7px;
  top: 70px;
  max-height: 600px;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.light .select_filter{
  position: absolute;
  width: 150px;
  height: 25px;
  background: white;
  border-radius: 7px;
  top: 70px;
  max-height: 600px;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #6a59d1;
}

.dark-theme .modal{
  background-color: #6a59d1;
  position: fixed;
  left: 53%;
  width: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid white;
}

.light .modal{
  background-color: white;
  position: fixed;
  left: 53%;
  width: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid black;
}

.dark-theme .block_book{
  cursor: pointer;
  background: #6a59d1;
  padding: 32px 50px;
  border: 1px solid white;
  border-radius: 7px;
}

.light .block_book{
  cursor: pointer;
  background: white;
  padding: 32px 50px;
  border: 1px solid black;
  border-radius: 7px;
}

.dark-theme .close-button{
  position: relative;
  width: 100px;
  height: 25px;
  background: white;
  border-radius: 7px;
  top: 30px;
  max-height: 600px;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.light .close-button{
  position: relative;
  width: 100px;
  height: 25px;
  background: #6a59d1;
  border-radius: 7px;
  top: 30px;
  max-height: 600px;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
}

.book-info{
  width: 100%;
}

.img_info{
  position: relative;
  left: 10px;
}

.text_books{
  position: relative;
  left: -40px;
  bottom: 20px;
  
}

.book_author{
  position: relative;
  width: 250px;
  left: 96px;
  bottom: 40px
}

.book_categories{
  position: relative;
  left: -15px;
  bottom: 10px;
  width: 300px;
}

.book_des{
  position: absolute;
  left: 23%;
  bottom: 75%;
}


@media (max-width: 450px) {
  .grid_books{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 258px);
    margin: 0 auto;
  }

  .light .input_search {
    position: absolute;
    width:350px;
    height: 25px;
    background: #6a59d1;
    border-radius: 7px;
    top: 30px;
    max-height: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .dark-theme .input_search{
    position: absolute;
    width: 350px;
    height: 25px;
    background: white;
    border-radius: 7px;
    top: 30px;
    max-height: 600px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #6a59d1;
  }


  .dark-theme .btn_search{
    position: absolute;
    width: 100px;
    height: 25px;
    background: #6a59d1;
    border-radius: 7px;
    top: 30px;
    max-height: 600px;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
  }
  
  .light .btn_search{
    position: absolute;
    width: 100px;
    height: 25px;
    background: white;
    border-radius: 7px;
    top: 30px;
    max-height: 600px;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .dark-theme .select_filter{
    position: absolute;
    width: 150px;
    height: 25px;
    background: #6a59d1;
    border-radius: 7px;
    top: 70px;
    max-height: 600px;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .light .select_filter{
    position: absolute;
    width: 150px;
    height: 25px;
    background: white;
    border-radius: 7px;
    top: 70px;
    max-height: 600px;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #6a59d1;
  }

  .dark-theme .select_search{
    position: absolute;
    width: 150px;
    height: 25px;
    background: #6a59d1;
    border-radius: 7px;
    top: 70px;
    max-height: 600px;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .light .select_search{
    position: absolute;
    width: 150px;
    height: 25px;
    background: white;
    border-radius: 7px;
    top: 70px;
    max-height: 600px;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #6a59d1;
  }

  .dark-theme .modal{
    background-color: #6a59d1;
    position: fixed;
    left: 43%;
    width: 50%;
    top: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid white;
  }
  
  .light .modal{
    background-color: white;
    position: fixed;
    left: 45%;
    width: 300px;
    top: 40%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid black;
  }

}